/*.header { background: $head-bg; }*/
.header { background: url(/uploads/headerbg2.jpg) !important; }

.header-inner { position: relative; }

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
@import "github-banner" if hexo-config('github_banner');
